<form hx-post="/robots/createRobot"
       hx-ext="json-enc"
       hx-trigger="submit"
       style="width: 40%; margin-left: auto; margin-right: auto;">
  <div class="form-group">
    <label for="name">Le nom du robot</label>
    <input type="text" 
           class="form-control" 
           id="name" 
           name="name"
           placeholder="Le Géant Ferré">
  </div>
  <div class="form-group">
    <label for="weight">Poids (kg)</label>
    <input type="number" 
           class="form-control" 
           id="weight"
           name="weight"
           min="0"
           placeholder="87">
  </div>

  <div class="form-group">
    <label for="height">Taille (m)</label>
    <input type="number" 
           class="form-control" 
           id="height"
           name="height"
           min="0"
           placeholder="2">
  </div>

  <div class="form-group">
    <label for="country">Pays</label>
    <input type="text" 
           class="form-control" 
           id="Country" 
           name="Country"
           placeholder="Suriname">
  </div>

  <label for="continent">Continent</label>
  <select class="form-select" aria-label="Default select example" name="continent" id="continent">
    <option selected value="North America">North America</option>
    <option value="South America">South America</option>
    <option value="Europe">Europe</option>
    <option value="Asia">Asia</option>
    <option value="Africa">Africa</option>
    <option value="Oceania">Oceania</option>
    <option value="Antarctica">Antarctica</option>
  </select>
  <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>