@{
    ViewData["Title"] = "Home Page";
}
@model List<Robot>

<h1 style="text-align: center;">LISTE DES ROBOTS RECHERCHÉS</h1>

<div style="margin-bottom: 20px; margin-top: 8%;">
<ul class="list-group" style="width: 20%; margin-left: auto; margin-right: auto; text-align: center;">
  @foreach (Robot robot in Model){
    <li class="list-group-item">
        <a href="robots/robot?id=@robot.Id">@robot.Name</a>
    </li>
  }
</ul>
</div>

<div class="text-center">
<a class="btn btn-primary mt-2" href="/robots/createRobot">Ajouter un robot</a>
</div>
