@* @model Agent

@{
  ViewData["Title"] = "Create Agent";
}

<h1>Ajout d'un nouvel Agent</h1>

<form asp-action="CreateAgent" method="post" style="width: 40%; margin: 0 auto;">
  <div class="form-group">
    <label for="Name">Nom de l'Agent :</label>
    <input type="text" class="form-control" id="Name" name="Name" placeholder="Rafiki" required>
  </div>
  <div class="form-group">
    <label for="Continent">Rayon d'Action (Continent) :</label>
    <input type="text" class="form-control" id="Continent" name="Continent" placeholder="Océanie" required>
  </div>
  <button type="submit" class="btn btn-primary mt-3">Soumettre</button>
</form> *@
